html {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* header */
.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #fff;
    padding: 14px 20px;
    z-index: 50;
}

.header__logo {
    max-height: 22px;
}

.header__logo img {
    height: 100%;
}

@media screen and (min-width: 768px), print {
    .header {
        align-items: center;
        height: 100px;
        padding: 30px 25px 30px 50px;
    }

    .header__logo {
        max-height: 45px;
    }
}

/* hamburger */
.hamburger {
    position: relative;
    background-color: #37952f;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -14px;
    margin-right: -20px;
}

.hamburger__line,
.hamburger__line::before,
.hamburger__line::after {
    position: absolute;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transform-origin: top left;
    transition: all 0.2s ease-in;
}

.hamburger__line {
    top: 16px;
    left: 12px;
}

.hamburger__line::before {
    content: '';
    top: 7px;
}

.hamburger__line::after {
    content: '';
    top: 14px;
}

.hamburger.hamburger--open .hamburger__line {
    top: 17px;
    left: 16px;
    transform: rotate(45deg);
}

.hamburger.hamburger--open .hamburger__line::before {
    opacity: 0;
}

.hamburger.hamburger--open .hamburger__line::after {
    top: 0;
    right: 0;
    transform: rotate(90deg) translate(-12px, -13px);
}

@media screen and (min-width: 768px), print {
    .hamburger {
        display: none;
    }    
}

/* nav */
.gnav {
    display: none;
}

.gnav.navigation--open {
    display: block;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
}

.gnav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gnav__item {
    border: 1px solid #eee;
    padding: 17px 20px;
}

.gnav__item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

@media  screen and (min-width:768px), print {
    .gnav {
        display: block;
    }

    .gnav__list {
        display: flex;
    }

    .gnav__item {
        border: none;
        padding: 0;
        margin-right: 35px;
    }

    .gnav__item:last-of-type {
        margin-right: 0;
    }
}

/* タブレットサイズ用に変則的なブレークポイントを使用 */
@media screen and (max-width: 900px) {
    .gnav__item {
        margin-right: 15px;
    }
}

/* main-contents */
.mainContents {
    margin-top: 50px;
}

@media screen and (min-width: 768px), print {
    .mainContents {
        margin-top: 100px;
    }
}

/* pageHeader */
.pageHeaderL {
    position: relative;
    height: 200px;
    background-position: center center;
    background-size: cover;
}

.pageHeaderL__title {
    position: absolute;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    font-weight: normal;
}

.sub {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #37952f;
    text-transform: uppercase;
}

.main {
    font-size: 30px;
}

@media screen and (min-width: 768px), print {
    .pageHeaderL {
        height: 460px;
        width: 100%;
    }

    .pageHeaderL__title {
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
        align-items: flex-start;
    }

    .sub {
        font-size: 24px;
    }

    .main {
        font-size: 48px;
    }
}

/* section */
.container {
    margin-top: 4px;
}

.section {
    padding: 0 20px;
    margin-top: 46px;
}

.headingL {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 0.14rem;
    line-height: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 767px) {
    .section {
        margin-top: 80px;
    }

    .headingL {
        font-size: 48px;
    }
}

/* button */
.buttonM {
    text-decoration: none;
    color: #fff;
}

.centerButton {
    border: solid 2px #37952f;
    text-align: center;
    padding: 20px 0;
    margin: 20px auto 0;
    max-width: 400px;
}

.centerButton a {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.02rem;
    margin-right: -1.02rem;
}

@media screen and (min-width: 767px) {
    .centerButton {
        margin-top: 40px;
    }
}

/* cvArea */
.cvArea {
    background-color: #37952f;
    color: #fff;
    text-align: center;
    padding: 45px 0 50px;
}

.cvArea a {
    color: #fff;
    text-decoration: none;
}

.cvArea__title {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 47px;
}

.cvArea__title::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 50px;
    height: 1px;
}

.cvArea__txt {
    font-size: 14px;
    margin-bottom: 35px;
}

.cvArea__btn {
    position: relative;
    border: #fff solid 2px;
    padding: 22px 0;
    margin-bottom: 40px;
}

.cvArea__btn a {
    font-size: 20px;
    font-weight: bold;
}

.cvArea__btn a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: auto;
}

.cvArea__tel::before {
    content: "お電話でのお問合せはこちら";
    display: block;
    font-size: 14px;
}

.cvArea__tel {
    font-size: 40px;
    font-family: 'oswald';
}

.cvArea__tel span {
    font-size: 24px;
}

.cvArea__biztime {
    font-size: 14px;
}

@media screen and (min-width: 768px), print {
    .cvArea {
        padding: 75px 0 80px;
    }

    .cvArea__title {
        font-size: 28px;
        margin-bottom: 45px;
    }

    .cvArea__title::before {
        bottom: -15px;
    }

    .cvArea__txt {
        font-size: 16px;
    }

    .cvArea__btn {
        max-width: 400px;
        margin: 0 auto 30px;
    }

    .cvArea__tel {
        font-size: 48px;
    }

    .cvArea__tel span {
        font-size: 30px;
    }

    .cvArea__tel::before {
        content: "";
    }

    .cvArea__biztime {
        font-size: 16px;
    }
}

/* footer */
.footer {
    background-color: #333333;
    font-size: 14px;
    margin-top: 80px;
    padding-bottom: 46px;
}

.footer__menu {
    list-style: none;
    margin: 0 0 40px;
    padding: 0 20px;
}

.footer__menu li {
    border-bottom: solid 1px #707070;
    padding: 15px 0;
}

.footer__menu a {
    color: #fff;
    text-decoration: none;
}

.footer__copyright {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
        padding: 45px 50px;
    }

    .footer__menu {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .footer__menu li {
        border: none;
        padding: 0;
        margin-right: 30px;
    }

    .footer__menu li:last-of-type {
        margin-right: 0;
    }
}

/* word-break */
.br_PC {
 display: none;        
}

@media screen and (min-width: 768px) {
    .br_PC {
        display: block;   
    }
}
